<!DOCTYPE html>
<html lang="en">
<!-- Copied from https://livewp.site/html/optima/gallery.html by Cyotek WebCopy 1.3.0.405, 17 April 2018, 08:16:31 AM -->

<head>
	<title>Optima | Gallery</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="favicon.ico">

	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap v3.3.7 -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Font Awesome 4.7.0 -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Main style -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="wrapp-content">

		<!-- Header -->
		<header class="wrapp-header">
			<div class="info-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
							<div class="info-block-01__box-01">
								<p class="address-info">455 Wallstreet St., NY, USA</p>
								<a class="email-info" href="mailto:companyname@gmail.com">companyname@gmail.com</a>
								<a class="free-consultation-link" href="#">Request a Free Consultation</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
							<a href="index.htm" class="logo">
								<img src="img/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
							<p class="phone-info">
								<span>Call:</span> 800 326 9160</p>
							<a class="btn-app" href="appointment.html">MAKE AN APPOINTMENT</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Main navigation -->
			<div class="header-box-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-nav">
								<div class="main-nav__btn">
									<div class="icon-left"></div>
									<div class="icon-right"></div>
								</div>
								<div class="header-box-03">
									<div class="shopping-cart">
										<a href="#" class="shopping-btn">
											Shopping cart
											<p class="shopping-info">2</p>
										</a>
										<div class="shopping-cart__dropdown">
											<ul class="shopping-cart__list">
												<li>
													<table class="shopping-cart__table">
														<tr>
															<td>
																<a class="shopping-cart__close" href="#">Close</a>
															</td>
															<td>
																<figure class="shopping-cart__img">
																	<a href="#">
																		<img src="img/shop/shopping_cart/shopping_cart_img_01.jpg" alt="">
																	</a>
																</figure>
															</td>
															<td>
																<h3 class="shopping-cart__title">
																	<a href="#">Intuitions</a>
																</h3>
																<p class="shopping-cart__text">Dr. Sandra Miller</p>
																<p class="shopping-cart__price">
																	<span>1 x</span>$ 100.00</p>
															</td>
														</tr>
													</table>
												</li>
												<li>
													<table class="shopping-cart__table">
														<tr>
															<td>
																<a class="shopping-cart__close" href="#">Close</a>
															</td>
															<td>
																<figure class="shopping-cart__img">
																	<a href="#">
																		<img src="img/shop/shopping_cart/shopping_cart_img_02.jpg" alt="">
																	</a>
																</figure>
															</td>
															<td>
																<h3 class="shopping-cart__title">
																	<a href="#">Happines</a>
																</h3>
																<p class="shopping-cart__text">Dr. Sandra Miller</p>
																<p class="shopping-cart__price">
																	<span>1 x</span>$ 100.00</p>
															</td>
														</tr>
													</table>
												</li>
											</ul>
											<p class="shopping-cart__subtotal">
												<span>Subtotal:</span> $ 220.00</p>
											<div class="shopping-cart__btn">
												<a href="#" class="shopping-cart__btn-01">View cart</a>
												<a href="#" class="shopping-cart__btn-02">Checkout</a>
											</div>
										</div>
									</div>
									<div class="search-box">
										<a class="search-btn" href="#">Search</a>
										<div class="search-box__dropdown">
											<form action="./" class="search-box__form">
												<input class="search-box__input" type="text" name="search_btn" placeholder="Search...">
											</form>
										</div>
									</div>
								</div>
								<ul class="main-nav__list">
									<li class="active">
										<a href="index.html">Home</a>
										<ul>
											<li>
												<a href="index.html">Home 1</a>
											</li>
											<li>
												<a href="index_02.html">Home 2</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="about_us.html">About</a>
										<ul>
											<li>
												<a href="about_me.html">About me</a>
											</li>
											<li>
												<a href="about_us.html">About us</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="services.html">Services</a>
										<ul>
											<li>
												<a href="services.html">Services page</a>
											</li>
											<li>
												<a href="single_service.html">Single service</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">Pages</a>
										<ul>
											<li>
												<a href="counselling.html">Counselling</a>
											</li>
											<li>
												<a href="appointment.html">Appointment</a>
											</li>
											<li>
												<a href="faq.html">FAQ</a>
											</li>
											<li>
												<a href="team.html">Team</a>
											</li>
											<li>
												<a href="team_member.html">Team member</a>
											</li>
											<li>
												<a href="gallery.html">Gallery</a>
											</li>
											<li>
												<a href="gallery_item.html">Gallery item</a>
											</li>
											<li>
												<a href="shortcodes.html">Shortcodes</a>
											</li>
											<li>
												<a href="typography.html">Typography</a>
											</li>
											<li>
												<a href="coming_soon.html">Coming soon</a>
											</li>
											<li>
												<a href="404.html">404</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="shop_listing.html">Shop</a>
										<ul>
											<li>
												<a href="shop_listing.html">Shop listing</a>
											</li>
											<li>
												<a href="shop_item.html">Shop item</a>
											</li>
											<li>
												<a href="shopping_cart.html">Shopping cart</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">News</a>
										<ul>
											<li>
												<a href="blog_fullwidth.html">Fullwidth Listing</a>
											</li>
											<li>
												<a href="blog_with_right_sidebar.html">With Right Sidebar</a>
											</li>
											<li>
												<a href="blog_with_left_sidebar.html">With Left Sidebar</a>
											</li>
											<li>
												<a href="blog_post_right_sidebar.html">Blog post</a>
												<ul>
													<li>
														<a href="blog_post_fullwidth.html">Fullwidth</a>
													</li>
													<li>
														<a href="blog_post_right_sidebar.html">With Right Sidebar</a>
													</li>
													<li>
														<a href="blog_post_left_sidebar.html">With Left Sidebar</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="contacts.html">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">Portfolio</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>Portfolio</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="gallery-box">
				<div class="gallery-group gallery-filter">
					<a class="gallery-sort-item is-checked" href="#" data-filter="*">All</a>
					<a class="gallery-sort-item" href="#" data-filter=".counseling">counseling</a>
					<a class="gallery-sort-item" href="#" data-filter=".therapy">therapy</a>
					<a class="gallery-sort-item" href="#" data-filter=".treatment">treatment</a>
					<a class="gallery-sort-item" href="#" data-filter=".training">training</a>
				</div>
				<div class="gallery-grid">
					<div class="gallery-sizer"></div>
					<div class="gallery-item counseling therapy">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_01.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Counseling</p>
											<h4 class="gallery-item__title">Family Counseling</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_01.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item therapy counseling">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_02.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Therapy</p>
											<h4 class="gallery-item__title">Individual Theraphy</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_02.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item treatment training">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_03.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Treatment</p>
											<h4 class="gallery-item__title">Couple Treatment</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_03.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item training treatment">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_04.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Counseling</p>
											<h4 class="gallery-item__title">Family Practice</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_04.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item counseling training">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_07.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Theraphy</p>
											<h4 class="gallery-item__title">Prevent Divorce</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_07.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item therapy training counseling">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_05.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Treatment</p>
											<h4 class="gallery-item__title">Treating Depression</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_05.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item treatment counseling">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_06.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Training</p>
											<h4 class="gallery-item__title">Be Strong. Be Unique</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_06.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="gallery-item counseling therapy treatment">
						<div class="gallery-item__box">
							<figure class="gallery-item__box-img">
								<img src="img/gallery/gallery_item_img_08.jpg" alt="">
							</figure>
							<div class="gallery-item__content">
								<div class="gallery-item__tbl">
									<div class="gallery-item__row">
										<div class="gallery-item__cell">
											<p class="gallery-item__subtitle">Theraphy</p>
											<h4 class="gallery-item__title">Anti Stress Therapy</h4>
											<a class="gallery-item__btn-more swipebox" href="img/gallery/full/gallery_item_full_img_08.jpg">More</a>
											<a class="gallery-item__btn-link" href="gallery_item.html">Link</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="action-box-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="action-box-01__wrapp">
								<h3 class="action-box-01__title">Get a Consultation Right Now!
									<span>Call: 800 326 9160</span>
								</h3>
								<p class="action-box-01__subtitle">We are a group of professional and experienced psychologists and psychiatrists</p>
							</div>
							<div class="action-box-01__btn-wrapp">
								<a class="action-box-01__btn" href="appointment.html">Make an appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="wrapp-footer">
			<div class="footer-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<a href="index.htm" class="footer-logo">
								<img src="img/logo.png" alt="">
							</a>
							<div class="widget widget-text">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
								<ul class="social-list-01">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-contacts">
								<h3 class="widget-title">Our Head Clinick</h3>
								<ul class="widget-contacts__list">
									<li>455 Wallstreet St., New York, VA 12364 United States of America</li>
									<li>
										<a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
									</li>
									<li>826 696 8370</li>
									<li>
										<p class="work-time">
											We Work for You Every Day from
											<span>8.00 AM</span> to
											<span>6.00 PM</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-latest-news">
								<h3 class="widget-title">Our Latest News</h3>
								<ul class="widget-latest-news__list">
									<li>
										<h4 class="latest-news-title">
											<a href="#">Am i Depressed? 6 Signs You Should Know About</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
									<li>
										<h4 class="latest-news-title">
											<a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-quick-links">
								<h3 class="widget-title">Quick Links</h3>
								<ul class="widget-quick-links__list">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="#">News</a>
									</li>
									<li>
										<a href="#">Gallery</a>
									</li>
									<li>
										<a href="#">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-footer-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="back2top" title="Back to Top">Back to Top</a>
		</footer>

	</div>

	<!-- JQuery v2.2.4 -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Main navigation sticky -->
	<script src="js/plugins/jquery.sticky.min.js"></script>

	<!-- SuperFish v1.7.9 -->
	<script src="js/plugins/jquery.superfish.min.js"></script>

	<!-- Swipebox v1.4.4 -->
	<script src="js/plugins/jquery.swipebox.min.js"></script>

	<!-- Isotope v3.0.4 -->
	<script src="js/plugins/jquery.isotope.min.js"></script>

	<!-- Images loaded v4.1.3 -->
	<script src="js/plugins/jquery.imagesloaded.min.js"></script>

	<!-- Main script -->
	<script src="js/main.js"></script>

</body>

<!-- Copied from https://livewp.site/html/optima/gallery.html by Cyotek WebCopy 1.3.0.405, 17 April 2018, 08:16:31 AM -->
</html>