<!DOCTYPE html>
<html lang="en">

<head>
	<title>Optima | Services</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="favicon.ico" />

	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap v3.3.7 -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Font Awesome 4.7.0 -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Main style -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<!--[if lt IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div class="wrapp-content">

		<!-- Header -->
		<header class="wrapp-header">
			<div class="info-block-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="visit-time">Visit Us Daily from 8.00 AM to 6.00 PM</p>
							<div class="info-block-01__box-01">
								<p class="address-info">Bengaluru, Karnataka</p>
								<a class="email-info" href="mailto:turninglife360x@gmail.com">turninglife360x@gmail.com</a>
								<a class="free-consultation-link" href="#">Request a Consultation Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
							<a href="./" class="logo">
								<img src="img/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
							<p class="phone-info">
								<span>Call:</span> 94496 16912</p>
							<a class="btn-app" href="appointment.html">MAKE AN APPOINTMENT</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Main navigation -->
			<div class="header-box-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="main-nav">
								<div class="main-nav__btn">
									<div class="icon-left"></div>
									<div class="icon-right"></div>
								</div>
								<ul class="main-nav__list">
									<li class="active">
										<a href="index.html">Home</a>
										<%# <%= link_to %>
									</li>
									<li>
										<a href="about_us.html">About</a>
									</li>
									<li>
										<a href="services.html">Services</a>
									</li>
									<li>
										<a href="contacts.html">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">Services</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>Services</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-38 pad-bt-0">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-6">
							<p class="subtitle-01 mar-top-83 mar-bt-18 mar-md-top-0">We are here for you</p>
							<h3 class="title-02 mar-bt-32">We will Help You
								<span>with Problems</span>
							</h3>
							<div class="serv-content-01">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists, Psychologists and Psychotherapists. We only work with highly experienced and capable partners who share our values.</p>
							</div>
							<div class="counter-01">
								<div class="shortcode-counter">
									<div class="counter-wrapper">
										<div class="counter-content">
											<div class="stat-count-wrapper">
												<p class="stat-count stat-count__dec" data-count="30">0</p>
												<p class="counter-title">Years of Experience</p>
											</div>
											<div class="stat-temp"></div>
										</div>
									</div>
								</div>
								<div class="shortcode-counter">
									<div class="counter-wrapper">
										<div class="counter-content">
											<div class="stat-count-wrapper">
												<p class="stat-count" data-count="154">0</p>
												<p class="counter-title">In-House Doctors</p>
											</div>
											<div class="stat-temp"></div>
										</div>
									</div>
								</div>
								<div class="shortcode-counter">
									<div class="counter-wrapper">
										<div class="counter-content">
											<div class="stat-count-wrapper">
												<p class="stat-count" data-count="1510">0</p>
												<p class="counter-title">Successesful Therapy</p>
											</div>
											<div class="stat-temp"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="serv-img-01">
								<img src="img/services/services_img_01.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-02 pad-top-78">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="subtitle-01 text-center">What we offer for you</p>
							<h3 class="title-03 text-center mar-bt-50">Therapies &amp;
								<span>Treatments</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_01.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Anxiety Disorder</a>
								</h3>
								<div class="treatments-box__text">
									<p>Anxiety disorders can be a serious illness and have long term problems</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_02.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.htm">Treating Depression</a>
								</h3>
								<div class="treatments-box__text">
									<p>Qualified clinical team providing depression advice and course of action</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_03.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Couple Theraphy</a>
								</h3>
								<div class="treatments-box__text">
									<p>Couples’ therapy is a form of therapy in which a couple works with a therapist</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_04.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Family Practice</a>
								</h3>
								<div class="treatments-box__text">
									<p>Our trained, empathetic counsellors are here to assist during difficult periods</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_05.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Group Therapy</a>
								</h3>
								<div class="treatments-box__text">
									<p>Whether it is social phobia, specific phobia, post traumatic stress disorder</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_06.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Individual Coaching</a>
								</h3>
								<div class="treatments-box__text">
									<p>Individual treatment is often termed as psychotherapy and is meant to help</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_07.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Children Therapy</a>
								</h3>
								<div class="treatments-box__text">
									<p>There are many emotional issues that find a corner in our heart</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="treatments-box">
								<figure class="treatments-box__img">
									<a href="single_service.html">
										<img src="img/services/treatments/treatments_08.jpg" alt="">
									</a>
								</figure>
								<h3 class="treatments-box__title">
									<a href="single_service.html">Anti Stress Therapy</a>
								</h3>
								<div class="treatments-box__text">
									<p>1 in 5 adults will suffer from depression at some stage in their lives</p>
								</div>
								<a href="single_service.html" class="treatments-box__btn">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="action-box-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="action-box-01__wrapp">
								<h3 class="action-box-01__title">Get a Consultation Right Now!
									<span>Call: 800 326 9160</span>
								</h3>
								<p class="action-box-01__subtitle">We are a group of professional and experienced psychologists and psychiatrists</p>
							</div>
							<div class="action-box-01__btn-wrapp">
								<a class="action-box-01__btn" href="appointment.html">Make an appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="parallax parallax-01 pad-top-100 pad-bt-50">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="services-in">
								<figure class="services-in__img">
									<img src="img/services/icon/services_icon_01.png" alt="">
								</figure>
								<h4 class="services-in__title">Confidentiality</h4>
								<p class="services-in__text">All our meetings are confidential and information is protected. Do not worry about your defense.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="services-in">
								<figure class="services-in__img">
									<img src="img/services/icon/services_icon_02.png" alt="">
								</figure>
								<h4 class="services-in__title">support 24/7</h4>
								<p class="services-in__text">You can call me any time of the day. I am always ready to support you in any difficult situation.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="services-in">
								<figure class="services-in__img">
									<img src="img/services/icon/services_icon_03.png" alt="">
								</figure>
								<h4 class="services-in__title">Development</h4>
								<p class="services-in__text">I try to develop and reach new heights. I attend various trainings and seminars that help me.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="services-in">
								<figure class="services-in__img">
									<img src="img/services/icon/services_icon_04.png" alt="">
								</figure>
								<h4 class="services-in__title">Professionalism</h4>
								<p class="services-in__text">I guarantee only 100 % professional high quality services for you. I offer the best services.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="services-in">
								<figure class="services-in__img">
									<img src="img/services/icon/services_icon_05.png" alt="">
								</figure>
								<h4 class="services-in__title">Work experience</h4>
								<p class="services-in__text">I have 10 years experience in private practice, working with people who have problems.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="services-in">
								<figure class="services-in__img">
									<img src="img/services/icon/services_icon_06.png" alt="">
								</figure>
								<h4 class="services-in__title">Reliability</h4>
								<p class="services-in__text">I will never leave you in a difficult moment. Call me right now and make an appoinment.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-80 pad-bt-85">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<p class="subtitle-01">What we treat</p>
							<h3 class="title-02 mar-bt-21">Why Choose
								<span>Us</span>
							</h3>
							<div class="serv-content-02">
								<p>We offer a friendly and down-to-earth approach to therapy, providing a safe, confidential and non-judgemental space to talk.</p>
							</div>
							<div class="tabs tabs-horizontal-01">
								<ul class="tabs__caption">
									<li class="active">Advantages</li>
									<li>Success</li>
									<li>Results</li>
								</ul>
								<div class="tabs__content active">
									<p>With training and experience in the main evidence-based psychotherapies, I work flexibly and collaboratively, tailoring therapy to the needs of each person I see.</p>
									<ul class="list-01 list-01--style-01">
										<li>A free initial telephone consultation</li>
										<li>Instance access availability online</li>
										<li>Confidential service for you</li>
										<li>Support 24/7 in any way</li>
									</ul>
								</div>
								<div class="tabs__content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corrupti repellendus, beatae tempora mollitia ex. Dolore ducimus magni libero, ut voluptate repellat iste corporis, dolores perspiciatis, sapiente nihil velit, suscipit!</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sed incidunt consequuntur commodi dolores error praesentium! Quod cumque nihil, officiis, culpa provident quisquam dolores fugit hic quae iusto, aspernatur blanditiis.</p>
								</div>
								<div class="tabs__content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vitae harum voluptatum, ipsa expedita quisquam numquam unde repudiandae quis animi.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam temporibus, porro nemo delectus odio accusamus vitae tempore eligendi dignissimos culpa, minus possimus sequi quaerat quod, voluptate dolorem quibusdam! Rem magni harum excepturi
										quis!</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="chart-wrapp">
								<p class="subtitle-01">Our benefits</p>
								<h3 class="title-02 mar-bt-21">Our Success
									<span>in Numbers</span>
								</h3>
								<figure class="chart-in">
									<img src="img/services/chart_in.jpg" alt="">
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-02 pad-top-81 pad-bt-100">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 col-md-4 col-lg-4">
							<p class="subtitle-01 mar-bt-18">We have best team</p>
							<h3 class="title-05 mar-bt-50">Meet Our
								<span>Spesialists</span>
							</h3>
						</div>
						<div class="col-sm-7 col-md-8 col-lg-8">
							<div class="serv-content-01 mar-top-10 mar-bt-50">
								<p>We think it’s really important that clinicians have a mixture of clinical skill and human qualities that mean you can place your trust in them. We interview every potential partner in person before we agree to work with them, as well as carrying
									out rigorous background checks.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="team-item-01">
								<figure class="team-item-01__img">
									<img src="img/shortcodes/team/team_01.jpg" alt="">
								</figure>
								<div class="team-item-01__content">
									<h3 class="team-item-01__title">
										<a href="team_member.html">Dr. Emma Scott</a>
									</h3>
									<p class="team-item-01__subtitle">Clinical Psyhologist</p>
								</div>
								<ul class="team-item-01__soc-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="team-item-01">
								<figure class="team-item-01__img">
									<img src="img/shortcodes/team/team_02.jpg" alt="">
								</figure>
								<div class="team-item-01__content">
									<h3 class="team-item-01__title">
										<a href="team_member.html">Dr. Kate Moriss</a>
									</h3>
									<p class="team-item-01__subtitle">Clinical Neurology</p>
								</div>
								<ul class="team-item-01__soc-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="text-xs-center col-sm-4 col-md-4 col-lg-4">
							<div class="team-item-01">
								<figure class="team-item-01__img">
									<img src="img/shortcodes/team/team_03.jpg" alt="">
								</figure>
								<div class="team-item-01__content">
									<h3 class="team-item-01__title">
										<a href="team_member.html">Dr. Mikle Haris</a>
									</h3>
									<p class="team-item-01__subtitle">Clinical Psychiatrists</p>
								</div>
								<ul class="team-item-01__soc-list">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-80 pad-bt-60">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="subtitle-01">FAQ</p>
							<h3 class="title-02 mar-bt-50">Frequently Asked
								<span>Questions</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="accordion-01 acc-theme-02">
								<h4 data-count="1" class="accordion-01__title expanded_yes">How do I know if the treatment will be beneficial?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>There are no guarantees with psychotherapy or psychiatry. We work in this field because we have seen people achieve tremendous gains form this kind of work. That doesn't mean that we can guarantee that every person will be helped, but if what
												you need is something that we can help with then we will use the best available treatments to do our utmost to help. The length of session depends on the situation. A regular Psychotherapy session will last 50 minutes. For an initial assessment
												with a Psychiatrist of Psychologist this could last 90 minutes... </span>
											<a class="accordion-01__btn" href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="2" class="accordion-01__title expanded_no">How long will my treatment go on for?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris nec tellus...</span>
											<a class="accordion-01__btn"
											    href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="3" class="accordion-01__title expanded_no">How can therapy help me?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos nam nec ante, urna non...</span>
											<a class="accordion-01__btn"
											    href="#">view all</a>
										</p>
									</div>
								</div>
								<h4 data-count="4" class="accordion-01__title expanded_no">What about medication vs. psychotherapy?</h4>
								<div class="accordion-01__body">
									<div class="accordion-01__text">
										<p>
											<span>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos nam nec ante, urna non...</span>
											<a class="accordion-01__btn"
											    href="#">view all</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="wrapp-footer">
			<div class="footer-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<a href="./" class="footer-logo">
								<img src="img/logo.png" alt="">
							</a>
							<div class="widget widget-text">
								<p>Our clinic largest private mental health partnership, with a carefully selected nationwide team of Psychiatrists.</p>
								<ul class="social-list-01">
									<li>
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-contacts">
								<h3 class="widget-title">Our Head Clinick</h3>
								<ul class="widget-contacts__list">
									<li>455 Wallstreet St., New York, VA 12364 United States of America</li>
									<li>
										<a class="contacts-email" href="maito:companyname@gmail.com">companyname@gmail.com</a>
									</li>
									<li>826 696 8370</li>
									<li>
										<p class="work-time">
											We Work for You Every Day from
											<span>8.00 AM</span> to
											<span>6.00 PM</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-latest-news">
								<h3 class="widget-title">Our Latest News</h3>
								<ul class="widget-latest-news__list">
									<li>
										<h4 class="latest-news-title">
											<a href="#">Am i Depressed? 6 Signs You Should Know About</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
									<li>
										<h4 class="latest-news-title">
											<a href="#">Anxiety Disorder: Which Therapy is Right for Me</a>
										</h4>
										<p class="latest-news-date">25 September, 2017</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="widget widget-quick-links">
								<h3 class="widget-title">Quick Links</h3>
								<ul class="widget-quick-links__list">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="#">News</a>
									</li>
									<li>
										<a href="#">Gallery</a>
									</li>
									<li>
										<a href="#">Contacts</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-footer-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="copy-footer-01__text">&copy; 2017 OPTIMA. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="back2top" title="Back to Top">Back to Top</a>
		</footer>

	</div>

	<!-- JQuery v2.2.4 -->
	<script src="js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Main navigation sticky -->
	<script src="js/plugins/jquery.sticky.min.js"></script>

	<!-- SuperFish v1.7.9 -->
	<script src="js/plugins/jquery.superfish.min.js"></script>

	<!-- Pretty photo v3.1.6 -->
	<script src="js/plugins/jquery.prettyPhoto.min.js"></script>

	<!-- Waypoint v2.0.2 -->
	<script src="js/plugins/jquery.waypoint.min.js"></script>

	<!-- Main script -->
	<script src="js/main.js"></script>

</body>

</html>