<!DOCTYPE html>
<html>
  <head>
    <title>Turninglife</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel='stylesheet' href='css/bootstrap.min.css'></link>
    <%# <link rel='stylesheet' href='css/bootstrap.min.css'></link> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
